*{
    margin: 0;
}

.bg-white{
    background-color: #ffffff;
}

.div-one{
    background-color: #0000ffad;
    color: #ffffff;
}
.div-two{
    background-color: #0000ff9f;
    color: #ffffff;
}
.div-three{
    background-color: #0000ff94;
    color: #ffffff;
}
.div-four{
    background-color: #0000ff83;
    color: #ffffff
}
.div-five{
    background-color: #0000ff79;
    color: #ffffff;
}
.div-six{
    background-color: #0000ff6b;
    color: #ffffff;
}
.div-seven{
    background-color: #0000ff4d;
    color: #ffffff;
}
.div-eight{
    background-color: #008000a4;
    color: #ffffff;
}
.div-nine{
    background-color: #ff000038;
    color: #ffffff;
}
.div-ten{
    background-color: #ff000062;
    color: #ffffff;
}
.div-eleven{
    background-color: #ff000073;
    color: #ffffff;
}
.div-twelve{
    background-color: #ff00007c;
    color: #ffffff;
}
.div-thirteen{
    background-color: #ff000093;
    color: #ffffff;
}
.div-fourteen{
    background-color: #ff00008f;
    color: #ffffff;
}
.div-fifteen{
    background-color: #ff000093;
    color: #ffffff;
}
